<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--environment details-->
    <add key="browser" value="Chrome"/>
    <add key="produrl" value="https://angularjs.realworld.io/"/>
    <add key="testurl" value ="http://localhost:4000/#!/"/>
    <!--login details-->
    <add key="UserName" value="Bindu"/>
    <add key ="Password" value="Hima1505"/>
    <add key="Email" value="bindu.kottu@gmail.com"/>
  </appSettings>
</configuration>